body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #4caf50, #8bc34a);
    background-size: 200% 200%;
    animation: gradient 10s infinite alternate;
    position: relative;
    overflow: hidden;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.floatingMoney {
    position: absolute;
    bottom: 0;
    width: 50px;
    animation: floating 5s infinite ease-in-out;
    opacity: 0.7;
    z-index: 2;
}

.floatingMoney:first-child {
    z-index: -1;
}

.container {
    pointer-events: none;
    z-index: 1;  /* New line */
    position: relative;  /* New line */
    background-color: rgba(0, 255, 4, 0.5);
}

.container * {
    pointer-events: auto;
}

header {
    text-align: center;
}

header img {
    width: 100px;
}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 30px;
}

#switchButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: backgroun
    d-color 0.3s ease;
}

#switchButton:hover {
    background-color: #555;
}

.about-link {
    font-size: 3em;
}

.game-link {
    font-size: 3em;
}

#aboutContent {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

#aboutContent h1 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
}

#aboutContent p {
    font-size: 1.2em;
    line-height: 1.5;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animated-paragraph {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.1em;
    }
}

/* ... (existing styles) ... */

#healthBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background: red;
    z-index: 1000;
}

.bulletHole {
    position: absolute;
    background-image: url('bullet-holes-8.png'); /* Assuming you have a bullet hole image */
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    pointer-events: none; /* To avoid clicking on the bullet hole div */
    z-index: 999;
}
